{% extends 'base.html' %}
{% block title %}
	Login
{% endblock %}

	
{% block content %}

 {% if error_message %}
     <p class="errornote">{{ error_message }}</p>
 {% endif %}
 <div id="login-content">
	<div id="logo-big"><span class="red-text">Puzzl<span class="blue-text">æ</span>f</span></div>

	{% block form %}
	 <form class="form" action="{{ app_path }}" method="post">{% csrf_token %}
	     <div class="form-row">
	         <input type="text" name="username" id="id_username" placeholder="Username..." />
	     </div>
	     <div class="form-row">
	         <input type="password" name="password" id="id_password" placeholder="Password..."/>
	         <input type="hidden" name="this_is_the_login_form" value="1" />
	     </div>
	     <div class="login-buttons-row">
	         <a class="button red" href="/accounts/register/">Register</a>
	  		 <input class="button blue" type="submit" value="Log In" />
	     </div>
	 </form>
	{% endblock %}
 </div>

{% endblock %}