
<div class="title blue"> Discover </div>

	<div class="helper-text"> 
		Here are some of the Puzzlaefs that are happening around the world!
	</div>
	<div class="puzzles">
	{% for puzzle in puzzles %}
		<div class="puzzle">
			<div class="left-user-info">
				{{puzzle.username1}}<br />
				{{puzzle.location1}}
			</div>
			{% if puzzle.photo1 %}
			<div class="left-photo">
				<img class="thumb" src="{{ puzzle.photo1.get_thumb_url }}" alt='' height="130" width="130" />
			</div>
			{% endif %}
			<div class="vs-symbol">
			vs.
			</div>
			{% if puzzle.photo2 %}
			<div class="right-photo">
				<img class="thumb" src="{{ puzzle.photo2.get_thumb_url }}" alt='' height="130" width="130" />
			</div>
			{% endif %}
			<div class="right-user-info">
			{{puzzle.username2}}<br />
			{{puzzle.location2}}
			</div>
		</div>
	{% endfor %}
	</div>