
<div id="start-puzzle-panel" class='collapse'>
	<div id="start-puzzle-panel-content">
	</div>
</div>

<div class="row">
	<div class="span10 offset1" id="alerts-panel">
	</div>
</div>
<div id="puzzles">
	<div id="user-puzzles">
		{% if latest_user_puzzles %}
			{% for puzzle in latest_user_puzzles %}
				{{ puzzle }}
			{% endfor %}
		{% else %}
			<div class="alert alert-block alert-info" style="width:300px"> 
				<h4 class="alert-heading">You don't have any puzzles yet!</h4> 
				Click the start new puzzle button above and either join an existing puzzle or start your own one by submitting a picture!
			</div>
		{% endif %}
	</div>
	
	{% for puzzle in latest_other_puzzles %}
		{{ puzzle }}
	{% endfor %}
</div>




