
<div class="title red"> Start a new Puzzleaf </div>

<div id="search-box-wrapper">
	<input id="search-input" type="text" name="location" maxlength="30" placeholder="Enter a location to start...">
	<div id="search-button" class="button red">Search</div>
</div>

<div id="current-puzzles-wrapper">
	<div class="title blue"> Your Current Puzzleafs </div>

	{% if empty %}
		<div class="helper-text"> 
			You don't have any Puzzlaefs at the moment! <br />
			Type in a location in the box above and play a Puzzlaef someone in a culture that intreagues you!
		</div>
	
	{% else %}
		<div class="helper-text"> 
			Continue playing your Puzzlaefs! <br />
			The more pieces you complete the more points you get!
		</div>
		<div class="puzzles">
		{% for puzzle in puzzles %}
			<div class="puzzle">
				<div class="left-user-info">
					{{puzzle.username1}}<br />
					{{puzzle.location1}}
				</div>
				{% if puzzle.photo1 %}
				<div class="left-photo">
					<img class="thumb" src="{{ puzzle.photo1 }}" alt='' height="250" width="250" />
				</div>
				{% endif %}
				<div class="vs-symbol">
				vs.
				</div>
				{% if puzzle.photo2 %}
				<div class="right-photo">
					<img class="thumb" src="{{ puzzle.photo2 }}" alt='' height="250" width="250" />
				</div>
				{% endif %}
				<div class="right-user-info">
				{{puzzle.username2}}<br />
				{{puzzle.location2}}
				</div>
				<div class="button blue" onclick="Dajaxice.puzzlaef.main.open_puzzle(Dajax.process,{'puzzle':{{ puzzle.id }}})" style="margin-top: 60px; padding: 10px">Play</div>
			</div>
		{% endfor %}
		</div>
	{% endif %}
</div>




