
<div class="title red"> Start a new Puzzleaf </div>

<div id="search-box-wrapper">
	<input id="search-input" type="text" name="location" maxlength="30" placeholder="Enter a location to start...">
	<div id="search-button" class="button red">Search</div>
</div>

<div id="current-puzzles-wrapper">
	<div class="title blue"> Your Current Puzzleafs </div>

	{% ifequal puzzles empty %}
		<div class="helper-text"> 
			You don't have any Puzzlaefs at the moment! <br />
			Type in a location in the box above and play a Puzzlaef someone in a culture that intreagues you!
		</div>
	
	{% else %}
		<div class="helper-text"> 
			Continue playing your Puzzlaefs! <br />
			The more pieces you complete the more points you get!
		</div>
	{% endifequal %}
</div>




