<div class="modal fade" id="profileModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Your Profile</h3>
  </div>
	<form id="my_form" accept-charset="utf-8" class="form-vertical" style="margin:0" enctype="multipart/form-data" method="post" action="">
  <div class="modal-body">
    
		{{ form.as_p }} 
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
		<input class="btn btn-primary" type="button" value="Save" onclick="send_form();">
  </div>
	</form>
</div>


<!-- {{ pictureGrid }}  -->
