
<div class='puzzle' id="puzzle{{ puzzle.id }}">
	<div class="names">
		<div class="name1 {% if request %} {% ifequal request.user puzzle.player1 %} user-name {% endifequal %}{% endif %}">
			{{ puzzle.player1.username }} <br />
			{{ puzzle.player1.get_profile.location }}
		</div>
		<div class="name2 {% if request %} {% ifequal request.user puzzle.player2 %} user-name {% endifequal %}{% endif %}">
			{{ puzzle.player2.username }} <br />
			{{ puzzle.player2.get_profile.location }}
		</div>
	</div>
	<div class="puzzle-pieces">
		<div class="{{leftPiecesName}} {% if request %} {% ifequal request.user puzzle.player1 %} user-piece-side {% endifequal %}{% endif %}">
			{% for leftPiece in leftPieces %}
			    {{ leftPiece }}
			{% endfor %}
		</div>
		<div class="{{rightPiecesName}} {% if request %} {% ifequal request.user puzzle.player2 %} user-piece-side {% endifequal %}{% endif %}">
			{% for rightPiece in rightPieces %}
			    {{ rightPiece }}
			{% endfor %}
		</div>
	</div>
</div>

