html, body {
	font-family: "Ruluko", Verdana, Arial, Helvetica, sans-serif !important;
	background-color: #EEE;
}

.red-text {
	color: #ff6d6d;
}

.blue-text {
	color: #3ca1ff;
}

#logo {
	margin: 10px auto;
	padding: 0 30px;
	font-family: "Snippet", Verdana, Arial, Helvetica, sans-serif;
	font-size: 55px;
	text-shadow: #AAA 1px 1px 3px;
	text-align: center;
	cursor: default;
}

#logo-big {
	margin: 10px auto;
	font-family: "Snippet", Verdana, Arial, Helvetica, sans-serif;
	font-size: 80px;
	text-shadow: #AAA 1px 1px 3px;
	text-align: center;
	cursor: default;
}

/******** Page Level Sytles *******/

#page-container {
	margin: 0 auto 20px;
	width: 900px;
	box-shadow: 2px 2px 7px #AAA; 
	-moz-box-shadow: 2px 2px 7px #AAA; 
	-webkit-box-shadow: 2px 2px 7px #AAA; 
	min-height: 200px;
	background-color: #FFF;
	padding-bottom: 20px;
}

.title {
	margin-top: 20px;
	margin-left: -20px;
	width: 900px;
	display: inline-block;
	padding: 10px;
	padding-left: 30px;
	font-size: 1.4em;
	color: #000;
	font-family: "Snippet", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: #AAA 1px 1px 2px;
	border-radius: 5px;
}

.title.red {
	background-color: rgba(255,109,109,0.35);
}

.title.blue {
	background-color: rgba(60,161,255,0.35);
}

#profilePictureUploadWrapper {
	width: 100px;
	margin: 20px auto;
	padding-bottom: 40px;
}

/******** Navigation ********/

#top-nav {
	margin: auto;
	width: 900px;
	height: 75px;
	padding: 10px 0 30px;
	text-align: center;
}

.nav-account {
}

.nav-element {
	float: left;
	text-decoration: none;
}

.nav-page-element {
	margin: 20px 15px 0 !important;
	font-family: "Snippet", Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 15px !important;
	text-shadow: #CCC 1px 1px 2px;
	text-align: center;
	font-weight: bold;
}

.nav-page-element:active {
	margin: 22px 15px 0 !important;
}

div.nav-page-element.selected {
	background-color: #368fe1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    padding: 11px 15px 12px;
	margin: 22px 15px 0 !important;
	color: #fff !important;
}

div.button.blend-in-gray {
	background-color: #EEE;
	box-shadow:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
	color: #888;
	padding: 8px 11px;
	margin-top: 25px !important;
}

div.button.blend-in-gray:hover {
	background-color: #ff7e7e;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 2px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 2px 4px rgba(0, 0, 0, .3);
	color: #fff;
}

div.button.blend-in-gray:active,
div.button.blend-in-gray.selected {
    background-color: #d95959;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
	margin: 27px 15px 0 !important;
	color: #fff !important;
}

/******** Play Pages *******/

#search-box-wrapper{
	margin: 0px auto;
	padding: 50px 0 90px;
	width: 520px;
}

#search-input {
	float: left;
	margin: 12px 10px 12px 30px;
	width: 350px;
	background-color: #EEE;
}

.helper-text {
	width:700px;
	text-align: left;
	padding: 30px;
	color: #333;
	margin: 0px auto;
	background-color: rgba(60, 161, 255, 0.15);
	border-radius: 0 0 15px 15px;
}

#map_canvas {
    height: 250px;
    width: 350px;
	margin-left: -25px;
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
}

#play_map_canvas {
	height: 500px;
    width: 900px;
	margin-bottom: -20px;
}

div.puzzles {
	margin: 20px auto;
	width: 820px;
	padding-bottom: 20px;
	text-align: center;
}

div.puzzle {
	margin: 20px 0px;
	background-color: #EEE;
	display: inline-block;
}

div.puzzle > *{
	padding: 10px;
}

div.left-user-info {
	text-align: right;
	display: block;
	float:left;
}

div.left-photo {
	display: block;
	float:left;
}

div.vs-symbol {
	font-size: 50px;
	color: #AAA;
	display: block;
	float:left;
	font-family: "Snippet", Verdana, Arial, Helvetica, sans-serif;
}

div.right-user-info {
	text-align: left;
	display: block;
	float:left;
}

div.right-photo {
	display: block;
	float:left;
}

/******** Puzzle - Picture Grid ********/

div.pictureGrid {
	margin: 20px auto;
	width: 700px;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #EEE;
	box-shadow: inset 1px 1px 6px #666;
	-moz-box-shadow: inset 1px 1px 6px #666;
	-webkit-box-shadow: inset 1px 1px 6px #666;
	padding-bottom: 20px;
}

div.thumbWrapper {
	float: left;
	display: block;
	margin: 40px;
	cursor: pointer;
}

.thumb {
	box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
}

img.thumb.selected {
	box-shadow: 1px 1px 15px #3ca1ff;
	-moz-box-shadow: 1px 1px 15px #3ca1ff;
	-webkit-box-shadow: 1px 1px 15px #3ca1ff;
}

div.thumbLabel {
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: rgba(255,109,109, 0.75);
	padding: 5px;
	margin: -24px -10px;
	border-radius: 4px;
	position: relative;
	font-weight: bold;
}

div.thumbLabel.selected {
	background-color: rgba(60,161,255, 0.75);
}

/********* Puzzle - Puzzle Page ********/

#puzzle-view {
	margin: 20px auto;
	width: 700px;
	background-color: #EEE;
	box-shadow: inset 1px 1px 6px #666;
	-moz-box-shadow: inset 1px 1px 6px #666;
	-webkit-box-shadow: inset 1px 1px 6px #666;
	padding-bottom: 20px;
	text-align: center;
}

div.piece {
	width: 620px;
	display: inline-block;
}

div.piece-part {
	float:left;
	text-align: center;
	margin: 30px;
}


div.piece-part.left.new {
	width: 200px;
	height:200px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #777;
	-moz-box-shadow: 0px 0px 5px #777;
	-webkit-box-shadow: 0px 0px 5px #777;
}

div.piece-part.right.new {
	width: 200px;
	height:200px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #777;
	-moz-box-shadow: 0px 0px 5px #777;
	-webkit-box-shadow: 0px 0px 5px #777;
}

div.piece-part.middle {
	font-family: "snippet", Verdana, Arial, Helvetica, sans-serif;
	font-size: 100px;
	color: #3ca1ff;
	margin: 60px 0 0;
}

div.puzzleThumb{
	margin: -4px -10px;
}

#plus-button {
	margin: 30px;
	font-size: 70px;
}

#question-mark {
	margin: 30px;
	font-size: 70px;
}

/******** Login/Registration *******/

#login-content {
	margin: 50px auto 0;
}

.form {
	margin: auto;
	width: 240px;
	padding: 20px 0;
}

.form > * {
	margin: 15px 0;
	display: block;
}

.form > * > label {
	width: 170px;
	display: block;
	float: left;
	color: #666;
	font-size: 1.1em;
}

.login-buttons-row {
	margin-left: 15px;
}

.shift-right {
	margin-left: 120px !important;
}

input[type=text],
input[type=password],
.form > * > textarea {
	display: inline-block; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	padding: 6px 12px; 
	font-size: 18px; 
	font-weight: 300; 
	line-height: 1.4;  
	background: #fff; 
	border: 1px solid #a4a2a2; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); 
	-moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); 
	-webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); 
	-moz-transition: all 0.08s ease-in-out; 
	-webkit-transition: all 0.08s ease-in-out;
	width: 300px;
}
textarea {min-height: 90px;}
.form > * > div {display: inline-block;}
.form > * > label {display: inline-block; line-height: 1.4em; font-size: 18px;}

/* Input Focus */
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	border-color: #3ca1ff; 
	box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(60,161,255,0.35); 
	-moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(60,161,255,0.35); 
	-webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(60,161,255,0.35); 
}

.errorlist > li{
	display: inline-block;
	font-size: 12px;
	color: red;
}

.registrationForm > * > textarea:focus {
	border-color: #ff6d6d; 
	box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(255,109,109,0.35); 
	-moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(255,109,109,0.35); 
	-webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8), 0 0 14px rgba(255,109,109,0.35); 
}



.button {
	margin: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2);
    color: #fff;
    display: block;    
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, .2);
	text-decoration: none;
    padding: 11px 15px 14px;
    -moz-transition: background-color 0.2s ease-in-out; 
	-webkit-transition: background-color 0.2s ease-in-out;
	cursor: pointer !important;
	float: left;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.button.red {
	background-color: #ff6d6d;
}

.button.blue {
	background-color: #3ca1ff;
}

.button.gray {
	color: #3ca1ff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .1);
}

.button:hover {
    background-color: #3cb1ff;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 2px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 2px 4px rgba(0, 0, 0, .3);
	color: #fff;
}

.button:active {
    background-color: #368fe1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2);
    padding: 11px 15px 12px;
    margin-top: 12px;
	color: #fff;
}

.button.red:hover {
    background-color: #ff7e7e;
}

.button.red:active {
    background-color: #d95959;
}